.form {
    color: #000;
    max-width: 600px;
    margin: 100px auto;
    background-color: #fffacd;
    padding: 20px;
    border:2px solid black;
    border-radius:5px;
}

.form__label {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    display: inline-block;
    text-align:center;
    font-size:25px;
    
}

.form__input {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    text-align: center;
    border:1px solid black;
    border-radius:5px;
}
.form__input:focus{
    background-color:#b3f785;
}
.form__button{
    display: inline-block;
    width:100%;
    max-width: 600px;
    padding:20px;
    margin:50px auto;
    text-align:center;
}