.header{
    max-width:800px;
    margin:0 auto;
    text-align:center;
    padding:50px;
    background-color:#fffacd;
    border:2px solid black;
    border-radius:5px;
}

.header__h1{
    color:#111;
    font-size:32px;
}
