html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 100px auto;
    padding: 25px;
    background-image: url(../img/money-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather', serif;
}
